header{
    background-color: #1A1626;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 30px 10px 30px;
    border-bottom: solid 1px var(--soft-pink);
    height: 70px;
    width: 95vw;
    position: fixed;
    top: 0;
    z-index: 1;
    background-image: url(../../assets/bg.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.logo{
    width: 50px;
}

.logo:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.menu{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    gap: 20px;
}

.item-menu{
    display: flex;
}

.link-menu{
    color: var(--text-blue);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.5s ease;
}

.link-menu:hover{
    color: var(--soft-yellow);
    transform: scale(1.1);
}


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


@media (max-width: 600px){
    .link-menu{
        font-size: 1.2rem;
    }
}

@media (max-width: 480px){
    .menu{
        gap: 10px
    }
    .link-menu{
        font-size: 1rem;
    }
}

@media (max-width: 410px){
    .menu{
        gap: 10px
    }
    .link-menu{
        font-size: 0.8rem;
    }
}